.TimerSetup-root {
  position: relative;
  margin: 0 0 40px 0;
  padding: 4px;

  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper-inside {
  position: relative;

  min-width: 550px;
  padding: 18px 5px 0 5px;

  border: 8px solid #fff;
  border-radius: 0 0 2rem 2rem;
  background-color: #252525;
  border-top: none;
}

.time-start {
  transition: 0.2s;
}

.time-start-hover {
  border-color: #ff7373;
}

.time-isActive {
  border-color: #ff7373;
}

.time-isRest {
  border-color: #6ac5f9;
}

.active-time {
  color: #ff5656;
}

.rest-time {
  color: #6ac5f9;
}

.setup-id {
  font-size: 20px;
  padding: 0 12px;
}

.closeBtn {
  position: absolute;
  right: 24px;

  color: #000;
  font-size: 24px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  transition: 0.3s;
}

.closeBtn:hover:enabled {
  transform: scale(1.4);
}

.start-btn {
  height: 100%;
  min-width: 100px;
  padding: 6px;
  margin-right: 12px;

  font-size: 24px;
  color: #fff;

  background-color: #ff7373;
  border: none;
  border-radius: 10px;

  transition: 0.2s;

  cursor: pointer;
}

.start-btn:hover {
  color: #000;
}

.start-btn-section-mobile {
  display: none;
}

.btn-isActive {
  transition: 0.2s;
  background-color: #ff7373;
  color: #ffffff;
}

.btn-isRest {
  transition: 0.2s;

  background-color: #6ac5f9;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}

@media (max-width: 800px) {
  .start-btn-section-mobile {
    display: block;
    margin: 12px;
  }

  .start-btn {
    width: 50%;

    border-radius: 1rem;
  }

  .wrapper-inside {
    min-width: 330px;
  }

  .check-spacer {
    display: none;
  }
}
