.time-row {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 6px;
  padding-bottom: 12px;
}

.time-row-left {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;

  font-size: 38px;
}

.infinite {
  position: relative;
  top: 4px;

  min-height: 50px;
  min-width: 52px;
}

.small-number {
  margin-top: 8px;
}

.subtitle {
  font-size: 14px;
}

.subtitle-hidden {
  opacity: 0;
  pointer-events: none;
}

.check-spacer {
  height: 60px;
  width: 2px;

  border-left: 1px solid #ffffff;
  padding-left: 20px;
}

.default-input {
  text-align: center;
  width: 50px;

  background-color: transparent;
  border: none;

  border-bottom: 2px solid transparent;
}

.default-input:focus {
  border-bottom: 2px solid #ff7373;
}

.time-symbol {
  padding-top: 13px;
  font-size: 30px;
}

.active-time {
  color: #ff5656;
}

.rest-time {
  color: #6ac5f9;
}

.total-time-section {
  margin-top: 12px;
}

@media (max-width: 800px) {
  .equal-section {
    display: none;
  }
  .total-time-section {
    display: none;
  }
}
