.TimerSetup-root {
  position: relative;
  margin: 0 0 40px 0;
  padding: 4px;

  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper-inside {
  position: relative;

  min-width: 550px;
  padding: 18px 5px 0 5px;

  border: 8px solid #fff;
  border-radius: 0 0 2rem 2rem;
  background-color: #252525;
  border-top: none;
}

.time-row {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 6px;
  padding-bottom: 12px;
}

.time-row-left {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.time-start {
  transition: 0.2s;
}

.time-start-hover {
  border-color: #ff7373;
}

.time-isActive {
  border-color: #ff7373;
}

.time-isRest {
  border-color: #6ac5f9;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 14px 4px;
  border-top: 2px dashed #ffffff;

  font-size: 16px;
}

.check-section {
  display: flex;
  align-items: center;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;

  font-size: 38px;
}

.infinite {
  position: relative;
  top: 4px;

  min-height: 50px;
  min-width: 52px;
}

.small-number {
  margin-top: 8px;
}

.active-time {
  color: #ff5656;
}

.rest-time {
  color: #6ac5f9;
}

.time-symbol {
  padding-top: 13px;
  font-size: 30px;
}

.setup-id {
  font-size: 20px;
  padding: 0 12px;
}

.closeBtn {
  position: absolute;
  right: 24px;

  color: #000;
  font-size: 24px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  transition: 0.3s;
}

.closeBtn:hover:enabled {
  transform: scale(1.4);
}

.start-btn {
  height: 100%;
  min-width: 100px;
  padding: 6px;
  margin-right: 12px;

  font-size: 24px;
  color: #fff;

  background-color: #ff7373;
  border: none;
  border-radius: 10px;

  transition: 0.2s;

  cursor: pointer;
}

.start-btn:hover {
  color: #000;
}

.start-btn-section-mobile {
  display: none;
}

@media (max-width: 800px) {
  .start-btn-section-desktop {
    display: none;
  }

  .start-btn-section-mobile {
    display: block;
    margin: 12px;
  }

  .start-btn {
    width: 50%;

    border-radius: 1rem;
  }
}

.btn-isActive {
  transition: 0.2s;
  background-color: #ff7373;
  color: #ffffff;
}

.btn-isRest {
  transition: 0.2s;

  background-color: #6ac5f9;
}

.subtitle {
  font-size: 14px;
}

.subtitle-hidden {
  opacity: 0;
  pointer-events: none;
}

.check-option {
  margin: 6px;
}

.check-spacer {
  height: 60px;
  width: 2px;

  border-left: 1px solid #ffffff;
  padding-left: 20px;
}

.default-input {
  text-align: center;
  width: 50px;

  background-color: transparent;
  border: none;

  border-bottom: 2px solid transparent;
}

.default-input:focus {
  border-bottom: 2px solid #ff7373;
}

.total-section-desktop {
  display: block;
  position: absolute;
  right: 12px;

  padding: 8px;

  font-size: 18px;
}

.total-section-mobile {
  display: none;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}

.infinite-symbol {
  font-size: 32px;
}

@media (max-width: 800px) {
  .wrapper-inside {
    min-width: 330px;
  }

  .total-section-desktop {
    display: none;
  }

  .total-section-mobile {
    display: block;
  }

  .check-spacer {
    display: none;
  }

  .check-section {
    justify-content: center;
  }
}
