.start-btn {
  min-width: 125px;
  padding: 6px;

  font-size: 24px;
  color: #fff;

  background-color: #ff7373;
  border: none;

  transition: 0.2s;

  cursor: pointer;
}

.start-btn:hover {
  background-color: #a74646;
}

.btn-isActive {
  background-color: #a74646;
}

.btn-isRest {
  background-color: #6ac5f9;
}

.btn-isRest:hover {
  background-color: #437c9d;
}

.start-btn:active {
  background-color: #672a2a;
}

@media (max-width: 800px) {
  .btn-isActive {
    background-color: #ff7373;
  }
}
