.TimerSetup-root {
  position: relative;
  margin: 0 0 40px 0;
  padding: 4px;

  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper-inside {
  position: relative;

  min-width: 600px;
  padding: 18px 5px 0 5px;

  border: 8px solid #3c3c3c;
  border-radius: 0 0 4px 4px;
  background-color: #252525;
  border-top: none;
}

.time-start {
  transition: 0.2s;
}

.time-start-hover {
  border-color: #ff7373;
}

.time-isActive {
  border-color: #fff;
}

.time-isRest {
  border-color: #6ac5f9;
}

.setup-id {
  font-size: 20px;
  padding: 0 12px;
}

.start-btn-section-mobile {
  display: none;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}

@media (max-width: 800px) {
  .start-btn-section-mobile {
    display: block;
    margin: 12px;
  }

  .start-btn {
    width: 50%;
  }

  .wrapper-inside {
    min-width: 330px;
  }

  .check-spacer {
    display: none;
  }
}
