.timer-header-section {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding: 12px 0;

  transition: 0.2s;

  background-color: #3c3c3c;
  border-radius: 4px 4px 0 0;
}

.timer-name {
  margin: 0 24px;

  text-align: center;
  font-size: 28px;
  font-family: "Roboto";
  color: #fff;

  border: none;
  background-color: #3c3c3c;

  transition: 0.2s;
}

.timer-name:focus {
  border-bottom: 5px solid #ff7373;
}

.timer-setup-active {
  background-color: #ff7373;
  color: #ffffff;
}

.timer-setup-rest {
  background-color: #6ac5f9;
  color: #ffffff;
}

.closeBtn {
  position: absolute;
  left: 10px;

  color: #ffffff;
  font-size: 24px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  transition: 0.3s;
}

.closeBtn:hover:enabled {
  transform: scale(1.4);
}

.startBtnContainer {
  position: absolute;
  right: 10px;
}

@media (max-width: 800px) {
  .timer-name {
    width: 100%;
  }

  .start-btn-section-desktop {
    display: none;
  }
}
