.main-timer-root {
  position: relative;

  font-family: "Share Tech Mono", monospace;
}

.timer {
  margin-top: 22px;

  font-size: 72px;
}

.getting-ready-text {
  position: absolute;
  top: -10px;
  left: -40px;

  font-size: 20px;

  white-space: nowrap;
}
