.main-timer-root {
  position: relative;

  font-family: "Roboto Mono", monospace;
}

.timer {
  margin-top: 62px;
  margin-bottom: 10px;

  font-size: 120px;
  font-weight: 400;
}

@media (max-width: 800px) {
  .timer {
    font-size: 100px;
  }
}
