.player-root {
  position: absolute;
  left: -70%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 200px;
  height: 50px;

  background-color: rgba(255, 255, 255, 50%);
  border: 4px solid black;
}

.play-padding {
  padding: 12px;
}
