.player-root {
  position: absolute;
  bottom: -60px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 260px;
  height: 50px;
  padding: 6px;

  background-color: #3c3c3c;
  border: 4px solid black;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .player-root {
    left: -38%;
  }
}
