.addTimer {
  padding: 12px;
  margin-bottom: 24px;

  color: #ffffff;
  font-size: 20px;

  background-color: #3c3c3c;
  border: 2px solid #ffffff;

  cursor: pointer;

  transition: 0.2s;
}

.addTimer:hover {
  background-color: #ffffff;
  color: #3c3c3c;
  border-color: #3c3c3c;
}
