.TimerSetup-root {
  margin: 0 0 20px 0;
  padding: 4px;

  font-size: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.close-btn {
  position: absolute;
  top: -12px;
  right: -12px;

  width: 30px;
  height: 30px;

  color: #ffffff;
  font-weight: 600;

  border-radius: 50%;
  background-color: #f9abab;

  cursor: pointer;

  transition: 0.3s;
}

.close-btn:hover {
  transform: scale(1.2);
}

.wrapper-inside {
  position: relative;

  border: 4px solid #ffc9c9;
  background-color: rgba(255, 255, 255, 50%);

  padding: 5px;
}

.time-row {
  display: flex;

  padding: 6px;
}

.time-start-hover {
  border-color: #f9abab;
}

.time-isActive {
  border-color: #ff7373;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 100px;
}

.check-section {
  display: flex;

  padding: 8px 20px;
  border-top: 2px dashed #ffc9c9;

  font-size: 16px;
}

.number {
  color: #000000;
  font-size: 38px;
}

.small-number {
  margin-top: 8px;
}

.active-time {
  color: #ff5656;
}

.rest-time {
  color: #6ac5f9;
}

.time-symbol {
  position: absolute;
  top: 21px;
  left: 0px;
  font-size: 30px;
}

.start-btn {
  display: flex;
  justify-content: center;

  min-width: 150px;

  font-size: 28px;

  border: none;
  background-color: #ffc9c9;

  cursor: pointer;
}

.btn-isActive {
  background-color: #ff7373;
}

.start-btn:hover {
  background-color: #f9abab;
}

.subtitle {
  color: #636363;
  font-size: 14px;
}

.subtitle-hidden {
  opacity: 0;
  pointer-events: none;
}

.check-option {
  margin: 6px;
}

.check-spacer {
  min-height: 100%;
  width: 2px;

  border-left: 1px solid #636363;
}

.default-input {
  text-align: center;
  width: 50px;

  background-color: transparent;
  border: none;

  border-bottom: 2px solid transparent;
}

.default-input:focus {
  border-bottom: 2px solid #ff7373;
}

.timer-total-time {
  display: flex;
  justify-content: flex-start;

  padding: 12px 32px;

  color: #666666;
  font-size: 16px;
}

.total-section-desktop {
  padding: 8px;
}

.total-section-mobile {
  display: none;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}

@media (max-width: 800px) {
  .total-section-desktop {
    display: none;
  }

  .total-section-mobile {
    display: block;
  }

  .check-spacer {
    display: none;
  }
}
