.TimerSetup-root {
  position: relative;
  margin: 0 0 40px 0;
  padding: 4px;

  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper-inside {
  position: relative;

  min-width: 550px;
  padding: 18px 5px 0 5px;

  border: 8px solid #fff;
  border-radius: 0 0 2rem 2rem;
  background-color: #252525;
  border-top: none;
}

.time-row {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 6px;
  padding-bottom: 12px;
}

.time-start {
  transition: 0.2s;
}

.time-start-hover {
  border-color: #ff7373;
}

.time-isActive {
  border-color: #ff7373;
}

.time-isRest {
  border-color: #6ac5f9;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 100px;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 14px 4px;
  border-top: 2px dashed #ffffff;

  font-size: 16px;
}

.check-section {
  display: flex;
  align-items: center;
}

.number {
  color: #ffffff;
  font-size: 38px;
}

.small-number {
  margin-top: 8px;
}

.active-time {
  color: #ff5656;
}

.rest-time {
  color: #6ac5f9;
}

.time-symbol {
  position: absolute;
  top: 21px;
  left: 0px;
  font-size: 30px;
}

.setup-id {
  font-size: 20px;
  padding: 0 12px;
}

.timer-header-section {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  border-radius: 2rem 2rem 0 0;

  width: 100%;
}

.timer-name {
  width: 80%;

  text-align: center;
  font-size: 28px;
  font-family: "Allerta Stencil";
  color: #000;

  border: none;

  transition: 0.2s;
}

.timer-name:focus {
  border-bottom: 5px solid #ff7373;
  transition: 0.2s;
}

.rename-btn {
  position: absolute;
  right: 40px;

  font-size: 20px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}
.start-btn {
  height: 100%;
  min-width: 80px;
  padding: 6px;

  font-size: 24px;
  color: #fff;

  background-color: #ff7373;
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.start-btn:hover {
  color: #000;
}

.btn-isActive {
  background-color: #ff7373;
  color: #ffffff;
}

.btn-isRest {
  background-color: #6ac5f9;
}

.subtitle {
  font-size: 14px;
}

.subtitle-hidden {
  opacity: 0;
  pointer-events: none;
}

.check-option {
  margin: 6px;
}

.check-spacer {
  height: 60px;
  width: 2px;

  border-left: 1px solid #ffffff;
}

.default-input {
  text-align: center;
  width: 50px;

  background-color: transparent;
  border: none;

  border-bottom: 2px solid transparent;
}

.default-input:focus {
  border-bottom: 2px solid #ff7373;
}

.total-section-desktop {
  display: block;
  position: absolute;
  right: 12px;

  padding: 8px;

  font-size: 18px;
}

.total-section-mobile {
  display: none;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}

.infinite-symbol {
  font-size: 32px;
}

@media (max-width: 800px) {
  .wrapper-inside {
    min-width: 330px;
  }

  .total-section-desktop {
    display: none;
  }

  .total-section-mobile {
    display: block;
  }

  .check-spacer {
    display: none;
  }

  .check-section {
    justify-content: center;
  }
}
