.total-timer-root {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 12px 0;

  font-size: 25px;
  font-family: "Allerta Stencil", monospace;
  color: #ffffff;

  background-color: #ff7373;

  box-sizing: content-box;
}

.total-timer-main {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 6px;
}

.time {
  position: absolute;
}

.time-mobile {
  display: none;
}

.reset-arrow {
  position: absolute;
  top: 5px;
  left: 230px;
}

@media (max-width: 800px) {
  .workout-start-btn {
    position: fixed;
    top: auto;
    bottom: 10px;

    min-height: 50px;
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    font-weight: 600;

    z-index: 2;
  }

  .reset-arrow {
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .time-mobile {
    display: block;
  }

  .time-desktop {
    display: none;
  }
}
