.total-timer-root {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  font-size: 25px;
  font-family: monospace;
  color: #ffffff;

  background-color: #ff7373;
}

.workout-start-btn {
  position: absolute;
  top: 8px;
  left: 12px;

  color: #ff7373;
  padding: 4px 8px;
  min-width: 200px;

  font-size: 18px;

  background-color: #ffffff;
  border: 2px solid #ffffff;

  cursor: pointer;
}

.workout-start-btn-active {
  background-color: rgba(255, 255, 255, 60%);
  border: 2px solid #ffffff;
}

.workout-start-btn:hover {
  background-color: rgba(255, 255, 255, 70%);
}

.workout-start-btn-active:hover {
  background-color: rgba(255, 255, 255, 30%);
}

.workout-start-btn:active {
  background-color: rgba(255, 255, 255, 40%);
}

@media (max-width: 600px) {
  .workout-start-btn {
    position: fixed;
    bottom: 10px;
    top: auto;

    width: 90%;
    min-height: 50px;

    font-weight: 600;

    z-index: 2;
  }
}
