.total-timer-root {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  font-size: 25px;
  font-family: monospace;
  color: #ffffff;

  background-color: #ff7373;
}

.workout-start-btn {
  position: absolute;
  top: 8px;
  left: 12px;

  color: #ffffff;
  padding: 4px 8px;

  font-size: 18px;

  background-color: transparent;
  border: 2px solid #ffffff;

  cursor: pointer;
}

.workout-start-btn:hover {
  background-color: rgba(255, 255, 255, 30%);
}

.workout-start-btn:active {
  background-color: rgba(255, 255, 255, 40%);
}
