#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 32px;
  width: 75%;

  color: #2c3e50;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.total-timer-container {
  margin-bottom: 32px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #ffe7e7;
}

p {
  margin: 0;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 8px;
}

@media (max-width: 600px) {
  #app {
    width: 100%;
    padding: 6px;
    padding-bottom: 60px;
  }
}
