#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 32px;
  width: 75%;

  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.total-timer-container {
  margin-bottom: 32px;
}

.timer-setup-section {
  margin-top: 100px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #181818;
}

p {
  margin: 0;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 8px;
}

@media (max-width: 800px) {
  #app {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  input[type="checkbox"] {
    transform: scale(2);
    margin-right: 12px;
  }
}
